* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: linear-gradient(to right, #034d39, #67e28e);
}

.header {
  font-size: 1.5rem;
  color: black;
  text-align: center;
  align-items: center;
  margin-top: 100px;
}

.question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.questions {
  height: 150px;
  width: 950px;
  gap: 100px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  font-size: 32px;
}