* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: linear-gradient(to right, #034d39, #67e28e);
}

.header {
  font-size: 1.5rem;
  color: black;
  text-align: center;
  align-items: center;
  margin-top: 100px;
}