* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body {
  background: linear-gradient(to right, #038663, #67e28e);
}

.header {
  font-size: 2rem;
  color: wheat;
  text-align: center;
  align-items: center;
  margin-top: 100px;
}

.question {
  /* border: 1px solid yellowgreen; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 110px;
}

.questions {
  /* border: 1px solid blue; */
  height: 250px;
  width: 1000px;
  border-bottom: 5px solid black;
  border-right: 3px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 20px 20px 20px 0 black;
}

h2 {
  color: darkred;
  font-size: 36px;
  height: 100%;
  width: 100%;

}

h3 {
  font-size: 28px;
  color: wheat;
}

.button {
  border: 5px solid darkred;
  height: 4rem;
  width: 4rem;
  outline: none;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.button:hover {
  cursor: pointer;
  transform: scale(0.9);
}

.cardfront {
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  margin: 0 30px;
  justify-content: space-between;
  align-items: center;
}



.answer {
  display: flex;
  justify-content: center;
  align-items: center;
}